#
# SPDX-FileCopyrightText: 2020 George Florea Bănuș <georgefb899@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Name=Haruna
Name[ar]=هارونا
Name[ca]=Haruna
Name[ca@valencia]=Haruna
Name[cs]=Haruna
Name[en_GB]=Haruna
Name[eo]=Haruna
Name[es]=Haruna
Name[eu]=Haruna
Name[fi]=Haruna
Name[fr]=Haruna
Name[gl]=Haruna
Name[he]=Haruna
Name[ia]=Haruna
Name[id]=Haruna
Name[it]=Haruna
Name[ka]=Haruna
Name[ko]=Haruna
Name[lv]=Haruna
Name[nl]=Haruna
Name[pl]=Haruna
Name[ro]=Haruna
Name[sa]=हारून
Name[sk]=Haruna
Name[sl]=Haruna
Name[sv]=Haruna
Name[ta]=ஹருணா
Name[tr]=Haruna
Name[uk]=Haruna
Name[x-test]=xxHarunaxx
Name[zh_CN]=Haruna 媒体播放器
Name[zh_TW]=Haruna
GenericName=Media Player
GenericName[ar]=مشغّل وسائط
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor multimèdia
GenericName[cs]=Přehrávač médií
GenericName[eo]=Ludilo por Aŭvidaĵoj
GenericName[es]=Reproductor multimedia
GenericName[eu]=Hedabide-jotzailea
GenericName[fr]=Lecteur multi-média
GenericName[gl]=Reprodutor multimedia
GenericName[he]=נגן מדיה
GenericName[ia]=Media Player (Reproductor de Media)
GenericName[it]=Lettore multimediale
GenericName[ka]=მედიის დამკვრელი
GenericName[lv]=Multivides atskaņotājs
GenericName[nl]=Mediaspeler
GenericName[pl]=Odtwarzacz multimedialny
GenericName[sl]=Predvajalnik medijev
GenericName[sv]=Mediaspelare
GenericName[ta]=நிகழ்பட இயக்கி
GenericName[tr]=Ortam Oynatıcısı
GenericName[uk]=Програвач
GenericName[x-test]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
GenericName[zh_TW]=媒體播放器
Comment=Open source media player built with Qt/QML and libmpv
Comment[ar]=مشغل وسائط مفتوح المصدر مصمم باستخدام Qt / QML و libmpv
Comment[ca]=Reproductor multimèdia de codi obert construït amb Qt/QML i la libmpv
Comment[ca@valencia]=Reproductor multimèdia de codi obert construït amb Qt/QML i la libmpv
Comment[eo]=Malfermfonta aŭvidaĵ-ludilo konstruita kun Qt/QML kaj libmpv
Comment[es]=Reproductor multimedia de código abierto compilado con Qt/QML y libmpv
Comment[eu]=Qt/QML eta libmpv erabiliz eraikitako sorburu irekiko hedabide-jotzailea
Comment[fr]=Lecteur multimédia « Open source » construit avec Qt / QML et la bibliothèque « libmpv »
Comment[gl]=Reprodutor multimedia libre feito con Qt, QML e libmpv.
Comment[he]=נגן מדיה בקוד פתוח שנבנה עם Qt/QML ו־libmpv
Comment[ia]=Media Player (Reproductor de Media) de software aperite (open source) construite con Qt/QML e libmpv
Comment[it]=Riproduttore multimediale open source generato con Qt/QML e libmpv
Comment[ka]=ღია კოდის მქონე ვიდეოდამკვრელი, აგებული Qt/QML-ითა და libmpv-ით
Comment[lv]=Atvērtā koda multivides atskaņotājs, kura pamatā ir „Qt/QML“ un „libmpv“
Comment[nl]=Open-source mediaspeler gebouwd met Qt/QML en libmpv
Comment[pl]=Odtwarzacz mediów o otwartym kodzie i zbudowany na Qt/QML oraz libmpv
Comment[sl]=Odprtokodni medijski predvajalnik, izdelan s Qt/QML in libmpv
Comment[sv]=Mediaspelare med öppen källkod byggd med Qt/QML och libmpv
Comment[tr]=Qt/QML ve libmpv ile yapılmış, açık kaynaklı ortam oynatıcısı
Comment[uk]=Програвач мультимедійних даних із відкритим кодом, побудований на основі Qt/QML та libmpv
Comment[x-test]=xxOpen source media player built with Qt/QML and libmpvxx
Comment[zh_CN]=基于 Qt/QML 和 libmpv 构建的开源媒体播放器
Comment[zh_TW]=建置於 Qt/QML 及 libmpv 之上的開源媒體播放器
Exec=haruna %u
Icon=haruna
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;TV;
MimeType=video/mp4;video/x-matroska;video/mpeg;video/ogg;video/quicktime;video/vnd.avi;video/mp2t;video/webm;video/x-ms-wmv;audio/aac;audio/ac3;audio/flac;audio/mp4;audio/mpeg;audio/ogg;audio/vnd.wave;audio/webm;audio/x-matroska;audio/x-mpegurl;
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,srt
Terminal=false
StartupWMClass=haruna
