#
# SPDX-FileCopyrightText: 2020 George Florea Bănuș <georgefb899@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Name=Haruna
Name[ar]=هارونا
Name[ca]=Haruna
Name[ca@valencia]=Haruna
Name[cs]=Haruna
Name[en_GB]=Haruna
Name[eo]=Haruna
Name[es]=Haruna
Name[eu]=Haruna
Name[fr]=Haruna
Name[gl]=Haruna
Name[he]=Haruna
Name[it]=Haruna
Name[ka]=Haruna
Name[ko]=Haruna
Name[lv]=Haruna
Name[nl]=Haruna
Name[pl]=Haruna
Name[ro]=Haruna
Name[sl]=Haruna
Name[sv]=Haruna
Name[tr]=Haruna
Name[uk]=Haruna
Name[x-test]=xxHarunaxx
Name[zh_CN]=Haruna 媒体播放器
Name[zh_TW]=Haruna
Exec=haruna %u
Icon=haruna
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;TV;
MimeType=video/mp4;video/x-matroska;video/mpeg;video/ogg;video/quicktime;video/vnd.avi;video/mp2t;video/webm;video/x-ms-wmv;audio/aac;audio/ac3;audio/flac;audio/mp4;audio/mpeg;audio/ogg;audio/vnd.wave;audio/webm;audio/x-matroska;audio/x-mpegurl;
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,srt
Terminal=false
StartupWMClass=haruna
